/*Menu stylings*/>
.menu{
    background-color: red;
    min-height:  100px
}


.row{
    margin: 0;
    min-width:100%
}
.about .column{
    padding: 0
}
.about .column>img{
    width: 100%
}


/*====gallery stylings=======*/
.gallery img{
    width: 100%;
    opacity: .8
}
.gallery img:hover{
    border: 0px solid black;
    opacity: 1
}

.full_height{
    min-height: 100%;
}
.third_height{
    min-height: 30%;
}

.hero{
    padding: 50px 0 50px 0;
}

/*remove Padding styles from the columns in the gallery */
.gallery .column{
    padding-left: 0;
    padding-right: 0;
}

/*=======Themes colors=======*/
/*Background theme color*/

.bg-theme-color1{
    background-color: #ff77aa;
}
.bg-theme-color2{
    background-color: #ff99cc;
}
/*lightest color*/
.bg-theme-color3{
    background-color: #ffbbee;
}
.bg-theme-color4{

}
.bg-theme-color5{
    background-color: black;
    color: aliceblue
}



.last{
    background-color: #ff5588;

}

footer{
    background-color: #ff3377;
    min-height: 5%
}
